In [1]:
# NOTATKI
'''
- slowniki slowniki i jeszzcze raz slowniki
- Series is dict-like
'''

'\n- slowniki slowniki i jeszzcze raz slowniki\n- Series is dict-like\n'

In [2]:
import pandas as pd

### Series

In [3]:
# indexes
zbior = [['6h', '7h', '9h'], '7h', '8h']
index = ['wtorek', 'sroda', 'sobota']
godziny_pracy = pd.Series(zbior, index= index)
print(godziny_pracy)
print()
print(godziny_pracy['wtorek'])
print()
print(godziny_pracy['wtorek'][0])

wtorek    [6h, 7h, 9h]
sroda               7h
sobota              8h
dtype: object

['6h', '7h', '9h']

6h

In [4]:
# wstawianie nowego elementu
godziny_pracy['wtorek'] = '12h'
godziny_pracy

wtorek    12h
sroda      7h
sobota     8h
dtype: object

In [5]:
# tworzenie series ze slownika
dania = {
    'rosol': 350,
    'schabowy': 550,
    'barszcz':280,
    'jajko sadzone':80
}

ser_dania = pd.Series(dania) # konwersja ze slownika na series
print(ser_dania)

dict_dania = dict(ser_dania) # konwersja z series na dania
print('konwersja z series na dania', dict_dania)

rosol            350
schabowy         550
barszcz          280
jajko sadzone     80
dtype: int64
konwersja z series na dania {'rosol': 350, 'schabowy': 550, 'barszcz': 280, 'jajko sadzone': 80}

In [6]:
# filtrowanie slownika i series
filtr_dania = ['rosol', 'jajko sadzone']

pd.Series(dict_dania, index= filtr_dania) # wybor danych po liscie indeksow

rosol            350
jajko sadzone     80
dtype: int64

In [7]:
# usuniecie po indeksie z series
del ser_dania['rosol']
print(ser_dania)

schabowy         550
barszcz          280
jajko sadzone     80
dtype: int64

In [8]:
# pobranie wartosci zwraca numpy array
dane = ser_dania.values
print(type(dane))

<class 'numpy.ndarray'>

### DataFrames

In [9]:
# kazdy slownik mozna przezucic na dataframe
# https://pandas.pydata.org/docs/user_guide/dsintro.html#name-attribute

In [10]:
# stworzenie ramki z slownika z danymi
obiady = {
    'Nazwa obiadu': ['rosol', 'schabowy', 'barszcz', 'jajko sadzone'],
    'kalorycznosc': [350,450,280,80],
    'bialko': [0,40,0,8],
    'weglowodany': [50,35,40,20]
}

df = pd.DataFrame(obiady)
df

    Nazwa obiadu  kalorycznosc  bialko  weglowodany
0          rosol           350       0           50
1       schabowy           450      40           35
2        barszcz           280       0           40
3  jajko sadzone            80       8           20

In [11]:
# locate row - zwraca wiersz
df.loc[2]

Nazwa obiadu    barszcz
kalorycznosc        280
bialko                0
weglowodany          40
Name: 2, dtype: object

In [12]:
# slicing
df[:3]

  Nazwa obiadu  kalorycznosc  bialko  weglowodany
0        rosol           350       0           50
1     schabowy           450      40           35
2      barszcz           280       0           40

In [13]:
# filtr po loc
ind = [1,2]
print(df.loc[ind])

  Nazwa obiadu  kalorycznosc  bialko  weglowodany
1     schabowy           450      40           35
2      barszcz           280       0           40

In [14]:
# tworzenie dataframe z indeksami
# szukania wierszy po indeksie 
idx_dni = ['dzien 1','dzien 2','dzien 3','dzien 4']
df = pd.DataFrame(obiady, index=idx_dni)
display(df)
print(df.loc['dzien 2'])
print(df.loc['dzien 2'].values)
print(type(df.loc['dzien 2'].values))

          Nazwa obiadu  kalorycznosc  bialko  weglowodany
dzien 1          rosol           350       0           50
dzien 2       schabowy           450      40           35
dzien 3        barszcz           280       0           40
dzien 4  jajko sadzone            80       8           20

Nazwa obiadu    schabowy
kalorycznosc         450
bialko                40
weglowodany           35
Name: dzien 2, dtype: object
['schabowy' 450 40 35]
<class 'numpy.ndarray'>

In [15]:
# dataframe info()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, dzien 1 to dzien 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nazwa obiadu  4 non-null      object
 1   kalorycznosc  4 non-null      int64
 2   bialko        4 non-null      int64
 3   weglowodany   4 non-null      int64
dtypes: int64(3), object(1)
memory usage: 332.0+ bytes

In [16]:
# wybranie wartosci wiersza i przeonwertowanie do listy
df.loc['dzien 2'].values.tolist()

['schabowy', 450, 40, 35]

In [17]:
# dodawanie nowego wiersza uzywajac .loc() - adding new row
df.loc['dzien 5'] = ['bigos', 490, 50, 90] 
df

          Nazwa obiadu  kalorycznosc  bialko  weglowodany
dzien 1          rosol           350       0           50
dzien 2       schabowy           450      40           35
dzien 3        barszcz           280       0           40
dzien 4  jajko sadzone            80       8           20
dzien 5          bigos           490      50           90

In [18]:
# dodanie wartosci - adding - using dictionaries

df2 = {'Nazwa obiadu': 'ryba', 'kalorycznosc': 330, 'bialko': 120, 'weglowodany': 50}
df2 = pd.DataFrame(df2, index = ['dzien 6'])
df = df.append(df2)
df

          Nazwa obiadu  kalorycznosc  bialko  weglowodany
dzien 1          rosol           350       0           50
dzien 2       schabowy           450      40           35
dzien 3        barszcz           280       0           40
dzien 4  jajko sadzone            80       8           20
dzien 5          bigos           490      50           90
dzien 6           ryba           330     120           50

In [19]:
# iloc()   = pobieranie krzyzowe = kolumna numer wiersza
df['kalorycznosc'].iloc[2]

280

In [20]:
# wybor pierwszych 3 pozycji i ich kalorycznosc
df[:3]['kalorycznosc']

dzien 1    350
dzien 2    450
dzien 3    280
Name: kalorycznosc, dtype: int64

In [21]:
# updating / creating a new index in a dataframe
df = df.set_index('Nazwa obiadu')
df

               kalorycznosc  bialko  weglowodany
Nazwa obiadu
rosol                   350       0           50
schabowy                450      40           35
barszcz                 280       0           40
jajko sadzone            80       8           20
bigos                   490      50           90
ryba                    330     120           50

In [22]:
# retrieving a row using an index name 
df.loc['barszcz']

kalorycznosc    280
bialko            0
weglowodany      40
Name: barszcz, dtype: int64

In [23]:
# retrieving values from a column
df['kalorycznosc']

Nazwa obiadu
rosol            350
schabowy         450
barszcz          280
jajko sadzone     80
bigos            490
ryba             330
Name: kalorycznosc, dtype: int64

In [24]:
# retrieving values from a specifc cell
# .loc[row index, column name]
df.loc['schabowy', 'bialko']

40

In [25]:
# loc to select 2 rows using index names
df.loc[['schabowy', 'rosol']]

              kalorycznosc  bialko  weglowodany
Nazwa obiadu
schabowy               450      40           35
rosol                  350       0           50

In [26]:
# iloc
'''
The iloc() function is an indexed-based selecting method which means that
we have to pass an integer index in the method to select 
a specific row/column.

'''

'\nThe iloc() function is an indexed-based selecting method which means that\nwe have to pass an integer index in the method to select \na specific row/column.\n\n'

In [27]:
df

               kalorycznosc  bialko  weglowodany
Nazwa obiadu
rosol                   350       0           50
schabowy                450      40           35
barszcz                 280       0           40
jajko sadzone            80       8           20
bigos                   490      50           90
ryba                    330     120           50

In [28]:
df.iloc[:3, 1:]

              bialko  weglowodany
Nazwa obiadu
rosol              0           50
schabowy          40           35
barszcz            0           40

In [29]:
df.iloc[[:23]]

SyntaxError: invalid syntax (Temp/ipykernel_6004/2211158393.py, line 1)

In [ ]:
# .loc()
'''
The loc() function is label based data selecting method which means that 
we have to pass the name of the row or column which we want to select. 
'''

In [ ]:

df.loc[['schabowy', 'rosol'], ['bialko', 'weglowodany']]

In [ ]:
import random as r

df = pd.DataFrame(columns=['nazwa zestawu', 'kcal', 'bialko'])
pd.options.display.max_rows = 101 # displays all rows
for i in range(100):
    df.loc[i] = [("zestaw #" + str(i+1))] + [r.randint(5,300), r.randint(5,300)]

df

In [ ]:
list("zestaw #" + str(i+1))

In [ ]:
pd.options.display.max_rows = 6
df

In [ ]:
# updating cels
df.loc[0, 'nazwa zestawu'] = 'spagetii'
df

In [ ]:
import random

print(random.randint(3, 9))